[submodule "Documentation"]
	path = Documentation
	url = https://github.com/pixel-ports/documentation.git
[submodule "DataAcquisitionLayer"]
	path = DataAcquisitionLayer
	url = https://github.com/pixel-ports/DataAcquisitionLayer.git
[submodule "Installation"]
	path = Installation
	url = https://github.com/pixel-ports/Installation.git
